description "RethinkDB Tunnels"

start on starting rethinkdb
stop on stopped rethinkdb

expect daemon

{% if rethinkdb_cluster %}
script
{% for host in groups['rethinkdb_servers'] %}
{% if host != inventory_hostname %}
	exec su -s /bin/sh -c 'exec "$0" "$@"' {{ rethinkdb_user }} autossh -M 0 -o TCPKeepAlive=no -o ServerAliveInterval={{ rethinkdb_sshtunnel_server_alive_interval|default(15) }} -o ServerAliveCountMax={{ rethinkdb_sshtunnel_server_alive_count_max|default(3) }} -p {{ hostvars[host]['ansible_ssh_port']|default(22) }} {{ hostvars[host]['ansible_ssh_host'] }} -L {{ hostvars[host]['rethinkdb_cluster_port'] }}:localhost:{{ hostvars[host]['rethinkdb_cluster_port'] }} -Nf
{% endif %}
{% endfor %}
end script
{% endif %}
